.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* position: relative; */
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  place-items: center;
  padding-top: 50px;
}

.cart-container {
  background-color: aqua;
  position: absolute;
  position: sticky;
  top: 0;
}
