.main-container {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  place-items: center;
  padding-top: 50px;
}
