.review-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
}

.review-all {
  overflow-y: auto;
  height: 33rem;
  padding: 10px;
  width: 28rem;
}

.order-cart {
  padding: 30px;
  height: 35rem;
  width: 28rem;
  color: rgba(42, 65, 79, 1);
  border-radius: 10px;
}

.order-cart h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.order-cart h2 {
  font-size: 1.8rem;
  margin: 1.3rem 0;
  font-weight: 500;
}

.order-cart .btn-1 {
  margin-top: 1rem;
}
