.navbar {
  background-color: rgba(28, 43, 53, 1);
  padding: 10px 50px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
}

.navbar img {
  cursor: pointer;
}

.links a {
  text-decoration: none;
  color: aliceblue;
  padding: 6px 2px;
  font-size: 1.1em;
}

.links a:last-child {
  margin-right: 0;
}

.links a:hover {
  color: rgba(255, 153, 0, 1);
}
